<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Novos Ábitros</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body>

	<nav class="navbar navbar-inverse navbar">
		<div class="container">
			<ul class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link active" href="/">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/listaArbitro">Lista
						de arbitro</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
			<form method="POST" action="/arbitro/criar"
				onsubmit="return confirm('Confirmar ?')">
				<div class="panel panel-default" style="margin: 10px">
					<div class="panel-heading">
						<h1 class="panel-title">Novos Árbitros</h1>
					</div>
					<div class="panel-body">
						<table class="table">
							<div class="form-group col-md-6">
								<label for="user">Id do Login</label> <input type="text"
									class="form-control" required id="user" name="user"
									placeholder="Digite seu Id de Login">
							</div>
							</div>

							<div class="form-group col-md-6">
								<label for="cpf">CPF </label> <input type="text"
									class="form-control" required id="cpf" name="cpf"
									placeholder="Digite seu cpf ">
							</div>
							</div>


							<div class="form-group col-md-3">
								<p>

									<label for="user">Disponibilidade</label> <br> <input
										type="radio" name="disponibilidade" value="Semana toda" />
									Semana toda <input type="radio" name="disponibilidade"
										value="Final de Semana" /> Final de Semana

								</p>

							</div>


						</table>
						<button type="submit" class="btn btn-primary">Salvar</button>
						<button class="btn btn-warning" href="javascript:void(0)"
							onClick="history.go(-1); return false;">Voltar</button>
						<tbody>
						</tbody>
						</table>
			</form>
			<tbody>
			</tbody>
			</table>
		</div>
		<div>
			<img src="/img/ARB.jpg" height="400" width="1100">
		</div>
</body>
</html>