<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Editar Escala</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>

	<ul class="nav nav-tabs">
		<li class="nav-item"><a class="nav-link active" href="/">Home</a>
		</li>
		<li class="nav-item"><a class="nav-link" href="/listaArbitros">Lista
				de Árbitros</a></li>
		<li class="nav-item">
		<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
		</li>
	</ul>
	<div class="container">
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Editar Escala</h1>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<form method="POST" th:action="@{'/escala/' + ${escala.id} + '/atualizar'}">



						<div class="form-row">

							<div class="form-group col-md-6">
								<label for="timeMandante">Time Mandante</label> <input type="text" class="form-control"
									th:value="${escala?.timeMandante}" required id="timeMandante" name="timeMandante">

							</div>
						</div>
						<div class="form-group col-md-6">
							<label for="timeVisitante">Time Visitante</label> <input type="text" class="form-control"
								th:value="${escala?.timeVisitante}" required id="timeVisitante" name="timeVisitante">
						</div>
				</div>

				<div class="form-group col-md-2">
					<label for="data">Dataaa</label> <input type="date" class="form-control" th:value="${escala?.data}"
						required id="data" name="data">

				</div>


				<div class="form-row">
					<div class="form-group col-md-5">
						<label for="endereco">Endereço</label> <input type="text" class="form-control"
							th:value="${escala?.endereco}" required id="endereco" name="endereco">

					</div>


					<div class="form-row">
						<div class="form-group col-md-5">
							<label for="nomeEstadio">Local</label> <input type="text" class="form-control"
								th:value="${escala?.nomeEstadio}" required id="nomeEstadio" name="nomeEstadio">
						</div>

						<div class="form-row">
							<div class="form-group col-md-2">
								<label for="horario">Horario</label> <input type="time" class="form-control"
									th:value="${escala?.horario}" required id="horario" name="horario">
							</div>

							<div class="form-row">
								<div class="form-group col-md-5">
									<label for="cidade">Cidade</label> <input type="text" class="form-control"
										th:value="${escala?.cidade}" required id="cidade" name="cidade">


								</div>


								<div class="form-row">
									<div class="form-group col-md-5">
										<label for="estado">Estado</label> <input type="text" class="form-control"
											th:value="${escala?.estado}" required id="estado" name="estado">
									</div>

								</div>


								<div class="form-row">
									<div class="form-group col-md-2">
										<label for="arbitro">Id Arbitro</label> <input type="text" class="form-control"
											th:value="${escala?.arbitro?.id}" required id="arbitro" name="arbitro">
									</div>

									<div class="form-group col-md-5">
										<label for="arbitro">Arbitro</label> <input type="text" class="form-control"
											th:value="${escala?.arbitro?.nome}" required id="arbitro" name="arbitro"
											readonly>
									</div>


									<div class="form-group col-md-3">
										<label for="telefoneCelular">Telefone Celular</label> <input type="text"
											class="form-control" th:value="${escala?.arbitro?.telefoneCelular}" required
											id="telefoneCelular" name="telefoneCelular" readonly>
									</div>


									<div class="form-group col-md-2">
										<label for="ativo">Confirmar</label> <input type="text" class="form-control"
											th:value="${escala?.ativo}" name="ativo">
									</div>


									<div class="form-row">
										<div class="form-group col-md-2">
											<label for="arbitro1">Id assistente 1</label> <input type="text"
												class="form-control" th:value="${escala?.arbitro1?.id}" required
												id="arbitro1" name="arbitro1">
										</div>

										<div class="form-group col-md-5">
											<label for="arbitro1">Assistente 1</label> <input type="text"
												class="form-control" th:value="${escala?.arbitro1?.nome}" required
												id="arbitro1" name="arbitro1" readonly>
										</div>

										<div class="form-group col-md-3">
											<label for="telefoneResidencial">Telefone Celular</label> <input type="text"
												class="form-control" th:value="${escala?.arbitro1?.telefoneCelular}"
												required id="telefoneCelular" name="telefoneCelular" readonly>
										</div>

										<div class="form-group col-md-2">
											<label for="ativo1">Confirmar</label> <input type="text"
												class="form-control" th:value="${escala?.ativo1}" name="ativo1">
										</div>

										<div class="form-group col-md-2">
											<label for="arbitro2">Id Assistente 2</label> <input type="text"
												class="form-control" th:value="${escala?.arbitro2?.id}" required
												id="arbitro2" name="arbitro2">
										</div>

										<div class="form-group col-md-5">
											<label for="arbitro2">Assistente 2</label> <input type="text"
												class="form-control" th:value="${escala?.arbitro2?.nome}" required
												id="arbitro2" name="arbitro2" readonly>
										</div>

										<div class="form-group col-md-3">
											<label for="telefoneResidencial">Telefone Celular</label> <input type="text"
												class="form-control" th:value="${escala?.arbitro2?.telefoneCelular}"
												required id="telefoneCelular" name="telefoneCelular" readonly>
										</div>

										<div class="form-group col-md-2">
											<label for="ativo2">Confirmar</label> <input type="text"
												class="form-control" th:value="${escala?.ativo2}" name="ativo2">
										</div>

										<div class="form-row">
											<div class="form-group col-md-2">
												<label for="quartoArbitro">Id Quarto Arbitro</label> <input type="text"
													class="form-control" th:value="${escala?.quartoArbitro?.id}"
													required id="quartoArbitro" name="quartoArbitro">
											</div>

											<div class="form-group col-md-5">
												<label for="quartoArbitro">Quarto Arbitro </label> <input type="text"
													class="form-control" th:value="${escala?.quartoArbitro?.nome}"
													required id="quartoArbitro" name="quartoArbitro" readonly>
											</div>

											<div class="form-group col-md-3">
												<label for="telefoneResidencial">Telefone Celular</label> <input
													type="text" class="form-control"
													th:value="${escala?.quartoArbitro?.telefoneCelular}" required
													id="telefoneCelular" name="telefoneCelular" readonly>

											</div>

											<div class="form-group col-md-2">

												<label for="ativo3">Confirmar</label> <input type="text"
													class="form-control" th:value="${escala?.ativo3}" name="ativo3">
												<br>

												<button type="submit" class="btn btn-primary">Enviar</button>

												<button class="btn btn-warning" href="javascript:void(0)"
													onClick="history.go(-3); return false;">Voltar</button>

											</div>
										</div>
									</div>

									<img src="/img/1.jpg" alt="some text" width="210"> <img src="/img/1.jpg"
										alt="some text" width="210"> <img src="/img/1.jpg" alt="some text" width="210">
									<img src="/img/1.jpg" alt="some text" width="210"> <img src="/img/1.jpg"
										alt="some text" width="210">



									</form>
</body>

</html>