<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>lista de todas Escalas</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-inverse navbar">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" href="/">Home</a></li>

			<li sec:authorize="hasRole('ADMIN')" class="nav-item"><a class="nav-link active"
					href="escala/novaEscala">Cadastrar Escala</a></li>


			<li class="nav-item"><a class="nav-link active" href="/listaArbitros">Listar Árbitros</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
		</ul>

		<form class="form-inline" method="POST" th:object="${listaEscalas}" th:action="@{/listaEscalas}"
			style="margin: 20px 0">




			<h3 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lista de Escalas</h3>

			<div class="panel panel-default" style="margin: 10px">
				<div class="panel-heading">


					<h1 class="panel-title">Aqui você pode cadastrar, alterar,
						buscar e excluir escala de árbitros</h1>
					<div class="container mt-5">

						<h2 align="center">Pesquisar todas Escala</h2>

						<form th:action="@{/listaEscalas}" method="get">

							<input sec:authorize="hasRole('ADMIN')" type="text" name="keyword" th:value="${keyword}"
								class="form-control" placeholder="Insira nome do time ou data" size="50">
							<button sec:authorize="hasRole('ADMIN')" type="submit" class="btn btn-info">Buscar</button>
							<button type="submit" class="btn btn-info">Ver Todos</button>

						</form>
					</div>

					<div class="panel-body">
						<table class="table">

							<thead>


								<tr>
									<th>Categoria</th>
									<th>Data</th>
									<th>Time Mandante</th>
									<th>Time visitante</th>

									<th>Árbitro</th>
									<th>Confirmar</th>
									<th>Assistente 1</th>
									<th>Confirmar</th>
									<th>Assistente 2</th>
									<th>Confirmar</th>
									<th>Quarto Árbitro</th>
									<th>Confirmar</th>
									<th>Categoria</th>
									<!--  
									
									<th>Endereço</th>
									<th>Local</th>
									-->
							<tfoot>
								<th>

								<th>Data</th>
								<th>Time Mandante</th>
								<th>Time visitante</th>
								<th>Árbitro</th>
								<th>Confirmar</th>
								<th>Assistente 1</th>
								<th>Confirmar</th>
								<th>Assistente 2</th>
								<th>Confirmar</th>
								<th>Quarto Árbitro</th>

								<th>Confirmar</th>
								<!-- 
								
								<th>Endereço</th>
								<th>Local</th>
								 -->
							</tfoot>
							</th>
							</th>

							<th>
								</thead>
								<tbody>

									<tr>
									<tr th:each="escala : ${list}" th:field="${escala}">

										<td th:text="${escala.categoria}"></td>
										<td th:text="${escala.data}"></td>

										<td th:text="${escala.timeMandante}"></td>
										<td th:text="${escala.timeVisitante}"></td>
										<td th:text="${escala.arbitro.nome}"></td>
										<td th:text="${escala.ativo}"></td>
										<td th:text="${escala.arbitro1.nome}"></td>
										<td th:text="${escala.ativo1}"></td>

										<td th:text="${escala.arbitro2.nome}"></td>
										<td th:text="${escala.ativo2}"></td>

										<td th:text="${escala.QuartoArbitro.nome}"></td>
										<td th:text="${escala.ativo3}"></td>
										<!--  
									
									<td th:text="${escala.Endereco}"></td>
									<td th:text="${escala.nomeEstadio}"></td>
									-->
										<td><a sec:authorize="hasRole('ADMIN')" th:href="@{'/escala/' + ${escala.id}}"
												class="btn btn-warning">Editar</td>

										<td><a th:href="@{'/confirmar/' + ${escala.id}}"
												class="btn btn-warning">Confirmar</td>


										<td><a sec:authorize="hasRole('ADMIN')" href="#" th:onclick="'if(confirm(\'Confirma ?\')) { window.location.href = \'' + @{/escala/{id}(id=${escala.id})}
	 + '/excluir\' } '" class="btn btn-danger">Excluir</td>


									</tr>
								</tbody>
						</table>
					</div>
				</div>

		</form>

</body>

</html>