<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Novas Escalas</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<ul class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link active" href="/">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link active" href="/listaEscala">Listar Escala</a></li>
				<li class="nav-item"><a class="nav-link" href="/listaArbitro">Lista
						de Árbitro</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
			<form method="POST" action="/escala/criar" onsubmit="return confirm('Confirmação')">
				<div class="panel panel-default" style="margin: 10px">
					<div class="panel-heading">
						<h1 class="panel-title">Novas Escalas</h1>
					</div>
					<div class="panel-body">
						<table class="table">
							
						
							

                   <div class="form-group col-md-4">
					<p>

						<label for="user">Categoria</label> <br> <input type="radio" name="categoria"
							value="Sub 11" />
						Sub 11 <input type="radio" name="categoria" value="Sub 13" /> Sub 13
						<input type="radio" name="categoria" value="Sub 15" />Sub 15
						<input type="radio" name="categoria" value="Sub 17" />Sub 17
						<input type="radio" name="categoria" value="Sub 20" />Sub 20

					</p>

				</div>




							<div class="form-group col-md-4">
								<label for="timeMandante">Time Mandante</label> <input type="text" class="form-control"
									required id="timeMandante" name="timeMandante" placeholder="Digite o Time Mandante">
							</div>
					</div>
					
						
							

					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="timeVisitante">Time Visitante</label> <input type="text" class="form-control"
								required id="timeVisitante" name="timeVisitante" placeholder="Digite o Time Visitante">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="data">Data</label> <input type="date" class="form-control" required id="data"
								name="data" placeholder="Digite a data do Jogo">
						</div>
						<div class="form-group col-md-6">
							<label for="endereco">Endereco</label> <input type="text" class="form-control" required
								id="endereco" name="endereco" placeholder="Digite seu endereco">
						</div>
						<div class="form-group col-md-3">
							<label for="nomeEstadio">Nome do Estadio</label> <input type="text" class="form-control"
								required id="nomeEstadio" name="nomeEstadio" placeholder="Digite o Nome Estadio">
						</div>
						<div class="form-group col-md-3">
							<label for="horario">Horario</label> <input type="time" class="form-control" required
								id="horario" name="horario" placeholder="Digite o horario do Jogo">
						</div>
						<div class="form-group col-md-6">
							<label for="cidade">Cidade do Jogo </label> <input type="text" class="form-control" required
								id="cidade" name="cidade" placeholder="Digite a Cidade do Jogo">
						</div>
						<div class="form-group col-md-2">
							<label for="estado">Estado</label> <input type="text" class="form-control" required
								id="estado" name="estado" placeholder="estado">
						</div>


						<div class="form-group col-md-2">
							<label for="arbitro"> Id Arbitro</label> <input type="text" class="form-control" required
								id="arbitro" name="arbitro" placeholder="Id do árbitro">
						</div>


						<div class="form-group col-md-2">
							<label for="arbitro1">Id Assistente 1</label> <input type="text" class="form-control"
								required id="arbitro1" name="arbitro1" placeholder="Id assistente 1">
						</div>


						<div class="form-row">
							<div class="form-group col-md-2">
								<label for="arbitro2">Id Assistente 2</label> <input type="text" class="form-control"
									required id="arbitro2" name="arbitro2" placeholder="Id assistente 2">
							</div>


							<div class="form-group col-md-2">
								<label for="quartoArbitro">Id Quarto Arbitro</label> <input type="text"
									class="form-control" required id="quartoArbitro" name="quartoArbitro"
									placeholder=" Id quarto árbitro">
							</div>
							</table>
							<button type="submit" class="btn btn-primary">Salvar</button>

							<button class="btn btn-warning" href="javascript:void(0)"
								onClick="history.go(-1); return false;">Voltar</button>
			</form>
			<tbody>

			</tbody>

			<img src="/img/7.jpg" alt="some text" width=280> <img src="/img/referee.jpg" alt="some text" width=280> <img
				src="/img/11.jpg" alt="some text" width=280>
			</table>
		</div>
		</div>
		</div>
</body>

</html>