<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Nota Ábitros</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-inverse navbar">
		<div class="container">
			<ul class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link active" href="/">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/listaArbitro">Árbitro</a></li>
				<li class="nav-item"><a class="nav-link" href="/listaArbitros">Lista
						de Árbitro</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
			<form method="POST" action="/nota/criar" onsubmit="return confirm('Confirmação')">
				<div class="panel panel-default" style="margin: 10px">
					<div class="panel-heading">
						<h1 class="panel-title">Notas</h1>
					</div>
					<div class="panel-body">
						<table class="table">
							<div class="form-group col-md-1">
								<label for="escala">Id Escala</label> <input type="text" class="form-control" required
									id="escala" name="escala" placeholder="Id">
							</div>
							<div class="form-group col-md-1">
								<label for="user">Id Árbitro</label> <input type="text" class="form-control" required
									id="user" name="user" placeholder="Id">
							</div>
							<div class="form-group col-md-3">
								<p>
									<label for="user">Dificuldade do Jogo</label> <br> <input type="radio"
										name="dificuldade" value="Ótimo" /> Excelente <input type="radio"
										name="dificuldade" value="Bom" /> Bom <input type="radio" name="dificuldade"
										value="Regular" /> Regular
								</p>
								<p>
							</div>
							<div class="form-group col-md-3">
								<p>
									<label for="user">Controle Emocional</label> <br> <input type="radio"
										name="emocional" value="Ótimo" /> Excelente <input type="radio" name="emocional"
										value="Bom" /> Bom <input type="radio" name="emocional" value="Regular" />
									Regular
								</p>
							</div>
							<div class="form-group col-md-3">
								<p>

									<label for="user">Som do Apito</label> <br> <input type="radio" name="som_apito"
										value="Ótimo" /> Excelente <input type="radio" name="som_apito" value="Bom" />
									Bom <input type="radio" name="som_apito" value="Regular" /> Regular
								</p>
							</div>
							<div class="form-group col-md-3">
								<p>
									<label for="user">Comunicação</label> <br> <input type="radio" name="comunicacao"
										value="Ótimo" /> Excelente <input type="radio" name="comunicacao" value="Bom" />
									Bom <input type="radio" name="comunicacao" value="Regular" /> Regular
								</p>
							</div>
							<div class="form-group col-md-3">
								<p>

									<label for="user">Preparo Físico</label> <br> <input type="radio" name="fisico"
										value="Ótimo" /> Excelente <input type="radio" name="fisico" value="Bom" /> Bom
									<input type="radio" name="fisico" value="Regular" /> Regular
								</p>
							</div>
							<div class="form-group col-md-3">
								<p>
									<label for="user">Postura</label> <br> <input type="radio" name="postura"
										value="Ótimo" /> Excelente <input type="radio" name="postura" value="Bom" /> Bom
									<input type="radio" name="postura" value="Regular" /> Regular
								</p>
							</div>

							<div class="form-group col-md-2">
								<label for="nt">Nota</label> <input type="text" class="form-control" required id="user"
									name="nt" placeholder="Digite uma nota">
							</div>
							<div class="form-group col-md-5">
								<p>
									<label for="observacao">Escreva alguma observação se
										houver:</label>
								</p>
								<textarea id="observacao" name="observacao" rows="4" cols="100"></textarea>
								<br>

								<button type="submit" class="btn btn-primary">Salvar</button>
								<button class="btn btn-warning" href="javascript:void(0)"
									onClick="history.go(-1); return false;">Voltar</button>

							</div>
							<tbody>

							</tbody>
						</table>
					</div>
					<div>
						<img src="/img/12.jpg" height="400" width="1100">
					</div>
</body>

</html>